img {
    width: 50px;
    margin-top: 5%;
    margin-left: 3%;
}

img:hover {
    cursor: pointer;
}


h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    margin: 20%;
    font-size: 50px;
    color: #fff;
}

body {
    background-color:#e9967a;
}
