#index {
    /* background-color: #fdf5d1; */
    width:100%;
    margin: 0 auto;
    min-width: 250;

}

.headermain {
    background-color: #fff;
    padding: 1% 0 0 0;
}

.main {
    background-color: #fff;
    width: 92%;
    margin: 0 auto;
    padding: 1% 0;
    /* box-shadow: 0 0 20px #746f5e; */
}

.main-page-title {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    font-size: 60px;
    margin-bottom: 40px;
}

.title-section {
    width: 90%;
    margin: auto;
}


.flex-list {
    width: 70%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
    font-size: large;
    /* border-top: cadetblue 5px solid;
    border-bottom: cadetblue 5px solid; */
}

.nav-list-items {
    font-size: 25px;
}

a:link {
    text-decoration: none;
    color: #000;
    
}

a:visited {
    text-decoration: none;
    color: #000;
    
}

.nav-list-items:hover {
    /* transition: ease-in-out .5s; */
    text-decoration: underline #5f9ea0 solid 5px;
    color: #81817d;
    
}

.fullimage {
    max-width: 900px;
    margin: auto;
       
}

.heroimage {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5px; 
   
}

.storySection {
    width: 70%;
    margin: 5% auto;
    max-width: 850px;
    font-family: 'Playfair Display', serif;
}

.storytitle {
    text-align: center;
    font-size: 30px;
}

.ourstory {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.wedinfo {
    display: none;
    font-family: 'Playfair Display', serif;
    font-size: large;

}


.half-section {
    font-family: 'Abril Fatface', cursive;
    color: #999999;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 60%;
    margin: 100px auto;
}

.split-half {
    /* text-align: center; */
}



.join-text {
    font-size: 50px;
    text-align: center;
}


#monthDate {
    font-size: 50px;
}

#right-half {
    border-left: #999999 solid 5px;
    /* border-radius: 3px; */
}

.right-info {
    text-align: center;
    /* font-size: 40px; */
}


.contact {
    width: 50%;
    text-align: center;
    margin: 3% auto;
}

#questions {
    background-color: #5f9ea0;
    padding: 1% 0;
    margin: 200px 0 0 0;
    text-align: center;
    font-size: 20px;
}

#email-signoff {
    color: #fcf2e6;
}

#email-signoff:hover {
    /* transition: ease-in-out .5s; */
    text-decoration: underline #5f9ea0 solid 5px;
    color: #81817d;  
    cursor: pointer; 
}

#mini-dropdown {
    display:none;
}

#aboutme {
    cursor: pointer;
}

#ham-menu {
    display:none;
}

@media only screen and (max-width: 900px){

    #index {
        /* background-color: #81817d; */
    }

    .flex-list {
        width: 95%;
        min-width: 600px;
        font-size: 30px;
    }

    .half-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #right-half {
        border-left: none;
        border-top: black solid 5px;
        /* border-radius: 3px; */
    }


}

@media only screen and (max-width: 750px){

    #index {
        /* background-color: #4a7d8a; */
    }

    .flex-list {
        width: 93%;
        /* min-width: 600px; */
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-family: 'Playfair Display', serif;
        
        /* border-top: cadetblue 5px solid;
        border-bottom: cadetblue 5px solid; */
    }
    
    .nav-list-items {
        font-size: 22px;
    }


}


@media only screen and (max-width: 600px){

    #index {
        /* background-color: #dfa18d; */
    }

    .flex-list {
        display: none;
    }

    .half-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #right-half {
        border-left: none;
        border-top: black solid 5px;
        /* border-radius: 3px; */
    }

    .main {
        
        width: 98%;

        /* box-shadow: 0 0 20px #746f5e; */
    }


    .storySection {
        width: 90%;
        margin: 5% auto;
        max-width: 850px;
        font-family: 'Playfair Display', serif;
    }

    #ham-menu {
        display: block;
        position: fixed;
        top: 0;
        right:0;
        display: block;
        float:right;
        margin: 2%;
        cursor: pointer;
        width: 8%;
        
    }

    #mini-dropdown {
        display: block;
    }

    #mini-dropdown {
        background-color: #5f9ea0;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0;
        overflow-y: scroll;
        /* padding: 15px 30px; */
        position: fixed;
        transition: all 0.35s ease-in-out;
        transform: translateY(-100%);
        z-index: 10;
    }
    
    #mini-dropdown.toggle-open {
        transform: translateY(0%);
        opacity: 1;
    }

    #minilist {
        width: 90%;
        clear: right;
       margin: 150px auto 0 auto;
       text-align: center;
    }

    .mini-items {
        font-family: 'Abril Fatface', cursive;
        color: #fff;
        margin: 10%;
        font-size: 30px;
        letter-spacing: 1.5px;
        text-decoration: none;
        align-items: center;
    }

    .link-list {
        text-decoration: none;
        color: #fff;
    }

    .link-list:visited {
        color: #fff;
    } 

    #exit-mini {
        width:10%;
        float: right;
        margin: 5%;
    }

    #exit-mini:hover {
        cursor: pointer;
        /* box-shadow: 0px 5px 10px #fff; */
    }

    a:link {
        text-decoration: none;
        color: #fff;
        
    }
    
    a:visited {
        text-decoration: none;
        color: #fff;
        
    }

    .mini-items:hover {
        /* transition: ease-in-out .5s; */
        text-decoration: underline #fff solid 5px;
        color: #81817d;
        
    }

}

@media only screen and (max-width: 300px){

    #index {
        /* background-color: #62b46d; */
    }

    .main-page-title {
        text-align: center;
        font-family: 'Abril Fatface', cursive;
        letter-spacing: 3px;
        font-size: 45px;
        margin-bottom: 40px;
    }

    .main-page-title {
        font-size: 30px;
        letter-spacing: 2px;


    }

    .flex-list {
        display: none;
    }

    .half-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        margin: 50px auto;
    }

    #right-half {
        border-left: none;
        border-top: black solid 5px;
        /* border-radius: 3px; */
    }

    .join-text {
        font-size: 35px;
        text-align: center;
    }

    #monthDate {
        font-size: 35px;
        text-align: center;
    }


}




/* FAQS PAGE */
