#wedding-party {
    /* background-color:#f8f5f1; */
    width:100%;
    margin: 0 auto;
    min-width: 250;
    
}

#backimage:hover {
    cursor: pointer;
}

#backimage {
    display: block;
    position: fixed;
    top: 0;
    left:0;
    display: block;
    float:right;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    width: 50px;
}



.inverted-title {
    background-color: #5f9ea0;
    padding: .2% 0;
    margin-bottom: 0;
    box-shadow: 0px 5px 10px #2d4849;
}

#header-party {
    font-family: 'Abril Fatface', cursive;
    color: #fcf2e6;
    text-align: right;
    padding-top: 0;
    padding-right: 5%;
    font-size: 45px;
}

#body-text {
    width: 80%;
    margin: auto;
}

.party-title-header {
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.most-likely-title {
    font-family: 'Abril Fatface', cursive;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 50px;

}

#most-likely-box {
    background-color: #5f9ea0;
   
    /* width: 100%; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-radius: 3px; */
}

#photo-box-container {
    width: 90%;
    margin: auto;
    align-items: center;
    /* background-color: #666464; */
    /* background-color: darkgoldenrod; */
    /* grid-gap: 5px; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
     */
}

.photobox {
    background-color: #1c3536;
    border-radius: 5px;
    padding: 10px 15px 0 10px;
    height: 375px;
    margin: 10px;
    /* z-index: 10; */
    
    /* width: 200px; */
}

.img-name {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1.5px;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

.likely-award {
    width: 250px;
    text-align: center;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    /* background-color: #666464; */

}

.person-image {
    width: 250px;
    border-radius: 3px;
    /* margin: 5px; */
    /* border: solid #fff 5px; */
}

/* #one-off-image {
    width: 250px;
    margin: auto;
} */

/* #image-box {
    width: 100%;
} */


#questions {
    background-color: #5f9ea0;
    padding: 1% 0;
    margin: 600px 0 0 0;
    text-align: center;
    font-size: 20px;
}

#email-signoff {
    color: #fcf2e6;
}

#email-signoff:hover {
    /* transition: ease-in-out .5s; */
    text-decoration: underline #5f9ea0 solid 5px;
    color: #81817d;  
    cursor: pointer; 
}


@media only screen and (max-width: 1250px){

    /* #wedding-party {
       background-color: #3e4ee6;
   }  */

   .person-image {
    width: 300px;
    border-radius: 3px;
    /* margin: 15px; */
    /* border: solid #fff 5px; */
}

.photobox {
    /* background-color: #666464; */
    border-radius: 5px;
    padding: 10px 15px;
    height: 400px;
    margin: 10px;
    /* z-index: 10; */
    
    /* width: 200px; */
}

   

}


@media only screen and (max-width: 1150px){

     /* #wedding-party {
        background-color: #61c47a;
    }  */
 
    .person-image {
        width: 300px;
        border-radius: 3px;
        margin: 5px;
        /* border: solid #fff 5px; */
    }

    .likely-award {
        width: 300px;
        text-align: center;
        margin-top: 0x;
    }
       
    

    .photobox {
        /* background-color: #666464; */
        border-radius: 5px;
        padding: 10px 10px;
        height: 425px;
        /* margin: 5px; */
        /* z-index: 10; */
        
    }

    #photo-box-container {
        width: 95%;
        margin: auto;
        align-items: center;
        /* background-color: #666464; */
        /* background-color: darkgoldenrod; */
        /* grid-gap: 5px; */
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
         */
    }

}

@media only screen and (max-width: 950px){

     /* #wedding-party {
        background-color: #e09dc7;
    }  */

    .person-image {
        width: 270px;
        border-radius: 3px;
        margin: 10px;

    }

    .likely-award {
        width: 275px;
        text-align: center;
        margin-top: 0x;
    }
      
    
   

    #image-box {
        width: 100%;
    }

    #photo-box-container {
        width: 95%;
        margin: auto;
        align-items: center;
        /* background-color: #666464; */
        /* background-color: darkgoldenrod; */
        /* grid-gap: 5px; */
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
         */
    }

    .photobox {
        /* background-color: #666464; */
        border-radius: 5px;
        padding: 10px 10px 0 10px;
        height: 400px;
        margin: 5px;
        /* z-index: 10; */
        
        /* width: 200px; */
    }

}

@media only screen and (max-width: 850px){
     /* #wedding-party {
        background-color: darkkhaki;
    }  */

    .person-image {
        width: 255px;
        border-radius: 3px;
        margin: 5px;

    }

    .likely-award {
        width: 250px;
        text-align: center;
        margin-top: 0x;
    }
      


}


@media only screen and (max-width: 800px){

    /* #wedding-party {
        background-color:darkred;
    }  */

    #photo-box-container {
        width: 100%;
        margin: auto;
        align-items: center;
        /* background-color: darkgoldenrod; */
        /* grid-gap: 5px; */
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
         */
    }

    .photobox {
        height: 375px;
        margin-top: 10px;
        margin-bottom: 10px;
    }



    .person-image {
        width: 225px;
        border-radius: 3px;
        margin: 5px;

    }

    .likely-award {
        width: 225px;
        text-align: center;
        margin-top: 0x;
    }

    /* #one-off-image {
        width: 225px;
        margin: auto;
    } */

    #image-box {
        width: 100%;
    }


}

@media only screen and (max-width: 660px){
    
    /* #wedding-party {
        background-color:rgb(189, 221, 221);
    }  */

    #backimage {
        
        margin-top: 15px;
        margin-left: 10px;
        
    }

    #body-text {
        width: 90%;
        margin: auto;
    }

    .most-likely-title {
        font-family: 'Abril Fatface', cursive;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        /* margin-top: 50px; */
        margin-bottom: 50px;
    
    }

    .person-image {
        width: 300px;
        border-radius: 3px;
        margin: 10px;

    }

    .likely-award {
        width: 300px;
        text-align: center;
        margin-top: 0x;
    }

    #one-off-image {
        width: 300px;
        border-radius: 3px;
        margin: auto;
    }

    #image-box {
        width: 100%;
    }

    #questions {
        background-color: #5f9ea0;
        padding: 1% 0;
        margin: 300px 0 0 0;
        text-align: center;
        font-size: 20px;
    }

    .photobox {
        height: 425px;
    }



}

@media only screen and (max-width: 300px){
    
    /* #wedding-party {
        background-color:rgb(255, 240, 37);
    }  */

    #backimage {
        
        margin-top: 10px;
        margin-left: 10px;
        width: 40px;
        
    }


    #body-text {
        width: 95%;
        margin: auto;
    }

    #photo-box-container {
        width: 100%;
        margin: auto;
        align-items: center;
        /* background-color: darkgoldenrod; */
        /* grid-gap: 5px; */
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
         */
    }

    .person-image {
        width: 250px;
        border-radius: 3px;
        margin: 10px;

    }

    .likely-award {
        width: 250px;
        text-align: center;
        margin-top: 0x;
    }

    #one-off-image {
        width: 250px;
        margin: auto;
        margin: 10px;
    }

    #image-box {
        width: 100%;
    }

    #questions {
        background-color: #5f9ea0;
        padding: 1% 0;
        margin: 200px 0 0 0;
        text-align: center;
        font-size: 20px;
    }



}
